@import "../../../../scss/variables";

@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../../node_modules//bootstrap/scss/mixins";

// --------------- Color Modes ----------------------------
$color-mode-type: data;

// Dark mode
@include color-mode(dark) {
  body {
    background-color: $primary-bg-dark;
  }

  .vertical-line,
  .rectangle {
    background-color: $arrow-marker-dark;
  }

  .arrow-marker {
    @include media-breakpoint-up(md) {
      border-left: 20px solid $arrow-marker-dark;
    }
    @include media-breakpoint-down(md) {
      border-left: 10px solid $arrow-marker-dark;
    }
  }
}

// Light mode
@include color-mode(light) {
  body {
    background-color: $primary-bg-light;
  }

  .vertical-line,
  .rectangle {
    background-color: $arrow-marker-light;
  }

  .arrow-marker {
    @include media-breakpoint-up(md) {
      border-left: 20px solid $arrow-marker-light;
    }
    @include media-breakpoint-down(md) {
      border-left: 10px solid $arrow-marker-light;
    }
  }
}
// --------------- End of Color Modes ----------------------

// Custom stylings
.vertical-line {
  @include media-breakpoint-up(md) {
    height: 7.5em;
    width: 15px;
  }
  @include media-breakpoint-down(md) {
    height: 5em;
    width: 10px;
  }
}

.rectangle {
  @include media-breakpoint-up(md) {
    height: 7.5em;
    width: 20px;
  }
  @include media-breakpoint-down(md) {
    height: 5em;
    width: 15px;
  }
}

.arrow-marker {
  width: 0;
  height: 0;

  @include media-breakpoint-up(md) {
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
  }

  @include media-breakpoint-down(md) {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
  }
}
