@import "../../../scss/variables";

@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../../node_modules/bootstrap/scss/grid";
@import "../../../../node_modules//bootstrap/scss/mixins";

.title-divider {
  width: 100%;
  border-bottom: 1.5px solid #000;
  user-select: none;
  @include media-breakpoint-down(xs) {
    margin: 5px 0 5px;
  }
}

.text-between-divider-light {
  @include media-breakpoint-up(md) {
    font-size: 3em;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.5em;
  }
}

.big-cs {
  font-family: "Fredericka The Great";
  font-size: 2.5em;
}
