$primary-bg-dark: #161515;
$primary-text-dark: #094ED4;
$divider-dark: #FFFFFF;
$bookmark-bg-dark: #F2C925;
$article-header-dark: #79A2D2;
$related-topic-link-dark: #094ED4;
$article-toc-desc-dark: #E7DEDE;
$arrow-marker-dark: #224267;
