//primary
$primary-bg-light: #ffffff;
$primary-text-light: #000000;

//divider
$divider-light: #777777;

//bookmark
$bookmark-bg-light: #d8c87e;

//Article
$article-header-light: #063ba1;
$related-topic-link-light: #0f6fdf;
$article-toc-desc-light: #5d5c5c;

//arrow
$arrow-marker-light: #79a2d2;
