$primary-bg-light: #FFFFFF;
$primary-text-light: #000000;
$divider-light: #777777;
$bookmark-bg-light: #D8C87E;
$article-header-light: #063BA1;
$related-topic-link-light: #0F6FDF;
$article-toc-desc-light: #5D5C5C;
$arrow-marker-light: #79A2D2;
