//primary
$primary-bg-dark: #161515;
$primary-text-dark: #ffffff;

//divider
$divider-dark: #ffffff;

//bookmark
$bookmark-bg-dark: #f2c925;

//article
$article-header-dark: #79a2d2;
$related-topic-link-dark: #094ed4;
$article-toc-desc-dark: #e7dede;

//arrow marker
$arrow-marker-dark: #224267;
