@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules//bootstrap/scss/mixins";

@include color-mode(light) {
  .search-container {
    background-color: $article-editor-body-light;
  }
}

@include color-mode(dark) {
  body {
    background-color: $primary-bg-dark;
  }

  .search-container {
    background-color: $article-editor-body-dark;
  }
}
