@import "../../scss/variables";

.sign-page-container {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  padding: 0 !important;
}

.sign-page-logo-section,
.sign-page-sign-section {
  padding: 30px 0;
}

.sign-page-logo-section {
  background: white;
}

.sign-page-sign-section {
  background: linear-gradient(135deg, #E9BF54, #B2D3FA);
  display: flex;
  align-items: center;
  justify-content: center;
}
