@import "../../../../scss/variables";

@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/mixins";

.popular-article-title {
  text-decoration: none;
  cursor: pointer;

  @media (min-width: 100px) {
    width: 70vw;
    font-size: 1.2em;
  }
  @media (min-width: 370px) {
    width: 70vw;
    font-size: 1.3em;
  }
  @media (min-width: 700px) {
    width: 550px;
    font-size: 2em;
  }
  @media (min-width: 990px) {
    width: 250px;
    font-size: 1.4em;
  }
  @media (min-width: 1400px) {
    width: 350px;
    font-size: 1.6em;
  }
  @media (min-width: 2000px) {
    width: 480px;
    font-size: 2.2em;
  }
}

.popular-article-item-container {
  align-items: center;
  text-align: start;
}

// Dark mode
@include color-mode(dark) {
  .popular-article-title {
    color: $primary-text-dark;

    &:hover {
      color: hsl(0, 0%, 85%);
    }
  }
}

// Light mode
@include color-mode(light) {
  .popular-article-title {
    color: $primary-text-light;

    &:hover {
      color: hsl(0, 1%, 27%);
    }
  }
}
