@import "../../../scss/variables";

@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../../node_modules/bootstrap/scss/grid";
@import "../../../../node_modules//bootstrap/scss/mixins";

.articles-divider {
  width: 100%;
  height: 0.1px;
  background-color: $divider-dark;
}

// Dark mode
@include color-mode(dark) {
  
}

// Light mode
@include color-mode(light) {

}