@import "../../../../scss/variables";

@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/mixins";

.popular-article-img {
  @media (min-width: 300px) {
    width: 200px;
  }
  @media (min-width: 370px) {
    width: 250px;
  }
  @media (min-width: 700px) {
    width: 450px;
  }
  @media (min-width: 1000px) {
    width: 250px;
  }
  @media (min-width: 1400px) {
    width: 350px;
  }
  @media (min-width: 2000px) {
    width: 480px;
  }
}
