
$primary: #f65757;
$secondary: #228b22;
$form-select-indicator-color: #FFFF;

$dropdown-bg: #4a4848;
$dropdown-color: white;
$dropdown-link-color: white;
$dropdown-link-hover-bg: #8c8888;
$dropdown-link-disabled-color: #8c8888;
