//SectionHeader
.section-header-marker {
  display: inline-block;
  width: 0.7rem;
  background-color: $primary;
}

//SectionContent
.section-content-marker-container {
  display: flex;
  width: 0.7rem;
  justify-content: center;
  align-items: stretch;
}

.section-content-marker {
  display: inline-block;
  width: 2px;
  background-color: $primary;
}

.section-content-text {
  width: calc(100% - 0.7rem);
  font-size: calc(1rem + 0.1vw);

  @media screen and (max-width: 800px) {
    font-size: calc(0.65rem + 0.3vw);
  }

  @media screen and (max-width: 500px) {
    font-size: calc(0.7rem + 0.3vw);
  }
}

//Topics List

.topic-list-title,
.topic-link {
  font-size: calc(0.65rem + 0.1vw);
}

.topic-link {
  color: $primary;
  text-decoration: none;
}

.topic-link:hover {
  filter: brightness(0.8);
}
.topic-link:active {
  filter: brightness(0.6);
  text-decoration: underline;
}
.section-header {
  width: calc(100% - 0.7rem);
}
