//SectionHeader
.section-header-marker {
  display: inline-block;
  width: 0.7rem;
  background-color: $primary;
}
.section-header {
  width: calc(100% - 0.7rem);
}

//BodySection
.body-section-marker-container {
  display: flex;
  width: 0.7rem;
  justify-content: center;
  align-items: stretch;
}

.body-section-marker {
  display: inline-block;
  width: 2px;
  background-color: $primary;
}

.body-section-text {
  width: calc(100% - 0.7rem);
  font-size: calc(1rem + 0.1vw);

  @media screen and (max-width: 800px) {
    font-size: calc(0.65rem + 0.3vw);
  }

  @media screen and (max-width: 500px) {
    font-size: calc(0.7rem + 0.3vw);
  }
}
