.section-header-marker {
  display: inline-block;
  width: 0.7rem;
  background-color: $primary;
}

//Topics List

.topic-list-title,
.topic-link {
  font-size: calc(0.65rem + 0.1vw);
}

.topic-link {
  color: $primary;
  text-decoration: none;
}

.topic-link:hover {
  filter: brightness(0.8);
}
.topic-link:active {
  filter: brightness(0.6);
  text-decoration: underline;
}
