@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "../../../../scss/variables";
.related-topic-tag {
  background: $related-topic-tag-bg;
  color: white;
  border-radius: 20px;
  padding: 5px 8px;
  white-space: nowrap;
  font-weight: 600;
  font-size: calc(0.5rem + 0.1vw);
  @include media-breakpoint-up(sm) {
    font-size: calc(0.7rem + 0.1vw);
  }

  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  &:active {
    filter: brightness(0.8);
    position: relative;
    top: 1px;
    cursor: auto;
  }
}

.related-topic-tags-container {
  display: flex;
  flex-flow: wrap;
  gap: 10px 8px;
}
