@import "../../scss/variables";
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

//settings section headers
.settings-section-header {
  font-weight: 700;
}

.settings-section-field-header {
  font-weight: 500;
}

//settings edit button
.settings-edit-button {
  border-width: 0 !important;
  &:hover {
    background-color: $primary !important;
    color: white !important;
  }
}

//settings input
.settings-input {
  border-width: 0 !important;
}

//when input is disabled
.bg-uneditable-input {
  background: $settings-input-bg !important;
  color: gray !important;
}
.settings-edit-button-uneditable {
  color: gray !important;
}

//when input is enabled
.bg-editable-input {
  background-color: #2d2626 !important;
  color: white !important;
}

.settings-edit-button-editable {
  color: black !important;
  background: $settings-input-bg !important;
}

//COLOR MODES

@include color-mode(dark) {
  .settings-section-header,
  .settings-section-field-header {
    color: $primary-text-dark;
  }
}

@include color-mode(light) {
  .settings-section-header,
  .settings-section-field-header {
    color: $primary-text-light;
  }
}
