@import "../../scss/variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

//colors
.footer {
  background: $header-footer-bg;
}

.footer * {
  color: white;
}

/*First half of footer*/

/*Social Links*/
@include media-breakpoint-up(sm) {
  .divider {
    border-right: 1px solid white;
  }
}
.footer-socials-list {
}

.footer-social-icon {
  font-size: clamp(1.5rem, 3vw, 1.5rem);
}
.footer-social-name {
  font-weight: 200;
}
.footer-social-icon,
.footer-social-name {
  line-height: 1.1rem;
  vertical-align: middle;
  display: inline-block;
}

/*Second half*/

/*CS Catalog title*/
.footer-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  margin-left: 5rem;
  > span:first-of-type {
    font-family: "Fredericka The Great";
    font-size: 7rem;
    font-weight: normal;
    border-bottom: 1px solid white;
  }
}
/*more info links*/

.footer-more-info-link-container {
  white-space: nowrap;
  overflow: hidden;
}

//link hover/click styles
.social-link,
.more-info-link {
  font-size: clamp(0.9rem, 3vw, 1rem);
  font-weight: 400;
  text-decoration: none;
  margin-top: 40px;
  &:hover {
    font-weight: 700 !important;
    cursor: pointer;
  }

  &:active {
    border-bottom: 1px solid white;
  }
}

//footer copyright
.footer-copyright {
  font-style: italic;
  font-weight: 200;
  font-size: 0.9rem;
  padding-top: 1rem;
}
