@import "../../scss/variables";

@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/mixins";

// COLOR MODES:
$color-mode-type: data;

// Dark mode
@include color-mode(dark) {
  .home-page {
    background-color: $primary-bg-dark;
  }
}

@include color-mode(light) {
  .home-page {
    background-color: $primary-bg-light;
  }
}
