@import "../../../scss/variables";

@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../../node_modules/bootstrap/scss/grid";
@import "../../../../node_modules//bootstrap/scss/mixins";

// --------------- Color Modes ----------------------------
$color-mode-type: data;

// Dark mode
@include color-mode(dark) {
  #main-title,
  .article-description {
    color: $primary-text-dark;
  }
}

// Light mode
@include color-mode(light) {
  body {
    background-color: $primary-bg-light;
  }

  #main-title,
  .article-description {
    color: $primary-text-light;
  }
}
// --------------- End of Color Modes ----------------------

// Custom stylings
.main-image {
  @include media-breakpoint-up(md) {
    width: 100%;
    padding-right: 10px;
  }

  @include media-breakpoint-up(xxl) {
    width: 930px;
  }
}

.main-article-container {
  @include media-breakpoint-up(md) {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: 650px;
  }
  @include media-breakpoint-up(xl) {
    width: 830px;
  }
}

#main-title {
  font-weight: 600;

  @include media-breakpoint-down(md) {
    font-size: 2em;
  }

  @include media-breakpoint-up(md) {
    font-size: 4em;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 5em;
  }
}

.article-description {
  @include media-breakpoint-down(md) {
    font-size: 1em;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.2em;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 2em;
  }
}

.main-article-arrow-marker-container {
  flex-shrink: 0;
  margin: auto 0;
  @include media-breakpoint-up(md) {
    height: 7.5em;
    width: 4em;
  }

  @include media-breakpoint-up(xxl) {
    height: 10em;
    width: 5em;
  }

  @include media-breakpoint-down(md) {
    height: 5em;
    width: 3em;
  }
}
