.preview-image-modal {
  .modal-dialog {
    width: auto;
    max-width: none;
  }

  .modal-content {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }

  .modal-footer {
    justify-content: unset;
  }
}
