@import "../../scss/variables";

@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules//bootstrap/scss/mixins";

.header-divider {
  border: 1.5px solid $header-text;
  height: 75%;
  margin-left: 1em;
  background-color: $header-text;
}

.bg-header {
  background-color: $header-footer-bg;
}

#navbar_item {
  color: $header-text;
  @include media-breakpoint-down(xl) {
    font-size: 1.1em;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1.5em;
  }
}

#dropdown_items {
  color: $link-text;
  padding-left: 10px;
  font-size: 1.2em;
  &:hover {
    border-bottom: 2px solid $link-text;
  }
}

#toggler {
  background-color: $primary;
  border: none;
  margin-left: 10px;
}
