@import "../../scss/variables";

@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules//bootstrap/scss/mixins";

@include color-mode(light) {
  .lightbulb {
    color: white;
  }
}
@include color-mode(dark) {
  .lightbulb {
    color: black;
  }
  .form-control {
    background-color: white;
  }
}
@include media-breakpoint-down(sm) {
  .nav-menu {
    position: relative;
    .search-box {
      position: absolute;
      bottom: -3rem;
      width: 90%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      .input {
        background-color: #d5d5d5;
      }
    }
  }
}
.header-divider {
  @include media-breakpoint-down(md) {
    display: none;
  }
  border: 1.5px solid $header-text;
  height: 75%;
  margin-left: 1em;
  background-color: $header-text;
}

.bg-header {
  background-color: $header-footer-bg;
}

#navbar_item {
  color: $header-text;
  text-transform: uppercase;
  @include media-breakpoint-down(xl) {
    font-size: 1.1em;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1.5em;
  }
}

#dropdown_items {
  color: $link-text;
  padding-left: 10px;
  font-size: 1.2em;
  &:hover {
    font-weight: 600 !important;
    background-color: $primary;
    color: $header-text;
    border-radius: 4px;
  }
}
.search-box {
  position: relative;
}
.search-box input {
  border-radius: 25px;
}
.search-box svg {
  position: absolute;
  right: 10px;
  top: 20%;
  font-size: 1.5rem;
  color: black;
}
.lightbulb {
  font-size: 2rem;
  color: white;
}
#toggler {
  background-color: $primary;
  border: none;
  margin-left: 10px;
}

#profile_menu_divider {
  margin: 2px 0 2px 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(18, 18, 18);
}
