@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../../scss/variables";

.welcome-btn-text,
.no-account-text {
  font-size: 0.8rem;
  @include media-breakpoint-up(xxl) {
    font-size: clamp(1rem, 1rem + 0.2vw, 1.5rem);
  }
}

.no-account-text {
  text-align: center;
}
.no-account-link {
  color: $welcome-section-link;
  &:hover {
    font-weight: 500;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.sign-welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  @include media-breakpoint-up(xxl) {
    font-size: 2em;
  }
}

.welcome-button {
  padding: 10px 50px !important;
}

.cc-wire-logo {
  margin-bottom: 10px;
  width: 300px;

  @include media-breakpoint-up(xxl) {
    width: 450px;
  }
}
