@import "../../scss/variables";
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../scss/variables";
//SectionHeader, ArticleHeaderDesc marker styling
.section-header-marker,
.article-desc-marker {
  display: inline-block;
  width: 0.7rem;
}
.section-header {
  width: calc(100% - 0.7rem);
  margin: 0 !important;
  line-height: 100%;
  display: flex;
  align-items: center;
}

//ArticleHeaderDesc
.article-desc {
  font-weight: 700;
  margin: 0;
  font-size: calc(1rem + 0.1vw);
}

.article-desc-arrow-marker-container {
  height: 40px;
  width: 20px;
  flex-shrink: 0;
}

//ArticleHeaderAuthorDate
.article-header-author-date {
  font-size: calc(0.75rem + 0.1vw);
}

.article-header-author-date,
.article-desc {
  @media screen and (max-width: 800px) {
    font-size: calc(0.625rem + 0.3vw);
  }

  @media screen and (max-width: 500px) {
    font-size: calc(0.6rem + 0.3vw);
  }
}

.article-bookmark {
  margin-left: 10px;
  font-size: calc(0.8rem + 0.3vw);

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: auto;
  }
}
//Table of Contents
.table-content-heading {
  font-weight: 600;
  margin: 0;
}

.table-contents-marker-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 20px;
  height: 100%;
  padding-left: 0;
  flex-shrink: 0;
  left: 0;
}

.table-contents-marker {
  display: inline-block;
  width: 2px;
  margin-left: 32%;
  flex-shrink: 0;
}

//Article Body Section highlight styling
@keyframes article-highlight {
  0% {
    background-color: inherit;
  }

  50% {
    background-color: $primary;
  }

  100% {
    background-color: inherit;
  }
}
.article-body-section:target {
  animation: article-highlight 700ms 1;
}

//SectionContent
.section-content-marker-container {
  display: flex;
  width: 0.7rem;
  justify-content: center;
  align-items: stretch;
}

.section-content-marker {
  display: inline-block;
  width: 2px;
}

.section-content-text,
.table-content-heading {
  width: calc(100% - 0.7rem);
  font-size: calc(1rem + 0.1vw);

  @media screen and (max-width: 800px) {
    font-size: calc(0.65rem + 0.3vw);
  }

  @media screen and (max-width: 500px) {
    font-size: calc(0.7rem + 0.3vw);
  }
}

//SectionContent

//32% gap

//article arrow marker container and section content marker container have to be same width
//in order for section content marker to be aligned with arrow properly there has to be a gap to the left
//of divider that is 32% of width

.article-section-arrow-marker-container {
  height: 40px;
  width: 20px;
  flex-shrink: 0;
}

.section-content-marker-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 20px;
  height: 100%;
  padding-left: 0;
  flex-shrink: 0;
  top: -1px;
  left: 0;
}

.section-content-marker {
  display: inline-block;
  width: 2px;
  margin-left: 32%;
  flex-shrink: 0;
}

.section-content-text {
  width: calc(100% - 0.7rem);
  font-size: calc(1rem + 0.1vw);

  @media screen and (max-width: 800px) {
    font-size: calc(0.65rem + 0.3vw);
  }

  @media screen and (max-width: 500px) {
    font-size: calc(0.7rem + 0.3vw);
  }
}

//Related Topics List
.related-topics-heading {
  font-size: calc(0.975rem + 0.1vw);
  line-height: 2rem;
  font-weight: 600;
}

//Topics List
.topic-list-title,
.topic-link {
  font-size: calc(0.65rem + 0.1vw);
  font-weight: 600;
}

.topic-link {
  text-decoration: none;
}

.topic-link:hover {
  filter: brightness(0.8);
}
.topic-link:active {
  filter: brightness(0.6);
  text-decoration: underline;
}

//Article Image
.article-image {
  width: 100%;
  object-fit: cover;
  height: 25vh;
  max-height: 400px;
  min-height: 300px;

  @media screen and (max-width: 800px) {
    min-height: 200px;
    max-height: 300px;
  }
  @media screen and (max-width: 500px) {
    min-height: 100px;
    max-height: 150px;
  }
}

/*COLOR MODES*/
@include color-mode(light) {
  .section-content-marker,
  .table-contents-marker {
    background: $arrow-marker-light;
  }
  .article-title,
  .related-topics-heading,
  .topic-list-title,
  .section-header,
  .section-content-text {
    color: $primary-text-light;
  }

  .topic-link {
    color: $related-topic-link-light;
  }
  .table-content-heading,
  .article-desc {
    color: $article-toc-desc-light;
  }
  .article-bookmark {
    color: $bookmark-bg-light;
  }
}

@include color-mode(dark) {
  .section-content-marker,
  .table-contents-marker {
    background: $arrow-marker-dark;
  }

  .article-title,
  .related-topics-heading,
  .topic-list-title,
  .section-header,
  .section-content-text {
    color: $primary-text-dark;
  }
  .topic-link {
    color: $related-topic-link-dark;
  }
  .table-content-heading,
  .article-desc {
    color: $article-toc-desc-dark;
  }
  .article-bookmark {
    color: $bookmark-bg-dark;
  }
}
